@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: "Montserrat";
}
header ul{
    text-align: center;
}
header li {
    display: inline-block;
padding: 0 36px;
}
header a{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.text {
    text-align: center;
    padding: 48px 67.5px 42px 67.5px;
}
h2 {
    text-transform: uppercase;
}
button{
    background: #FF0000;
    text-transform: uppercase;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    color: #FFFFFF;
    border: 0;

}
.img {
    width:100%;
}
