*, *:before, *:after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: sans-serif;
}

.banner {
    background: url("../img/Layer 21 1.jpg") no-repeat;
    width: 1600px;
    height: 900px;
    padding: 528px 224px 542px 133px;
    background-size: cover;
}

.banner-title {
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    font-size: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-slogan {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    color: #FFFFFF;
}

.banner-big-slogan {
    border: 1px solid #FFFFFF;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 22px;
    display: inline-block;
    width: 833px;
}

.banner-orange {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    align-items: center;
    text-transform: uppercase;
    padding: 38px 31px;
    display: inline-block;
    color: #F48E0B;
    border-right: 1px solid #F48E0B;
}

.banner-white {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    align-items: center;
    text-transform: uppercase;
    padding: 38px 31px;
    display: inline-block;
    color: #FFFFFF;
}

.header__logo {
    display: inline-block;
    text-transform: uppercase;
    color: gold;
    font-size: 36px;
    line-height: 66px;
}

.header {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid gold;
    margin-bottom: 30px;
}

.header__logo {
    margin-right: 100px;
}

.header__nav {
    display: inline-block;
}

.header__nav-menu__item {
    display: inline-block;
}

.header__nav-menu__link {
    text-transform: uppercase;
    color: gold;
}

.header__nav-menu__link :not(:last-child) {
    margin-right: 69px;
}

